.products {
  padding-top: 200px;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 80%;
  margin: 0 auto;
}
.product-info {
  width: 350px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
}
.items-img img {
  width: 350px;
  height: 300px;
  border-radius: 10px;
}
.update-btn {
  color: #fff;
  background: #F5C34B;
  width: 100%;
  padding: 10px 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}
.manage-btn{
    text-align: center;
    color: #fff;
    background-color: #F5C34B;
    padding: 18px 20px;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 20%;
    margin: 80px auto;
    border-radius: 30px;
}
@media screen and (max-width: 688px) {
  .product-container {
    grid-template-columns: 1fr;
  }
  .product-info{
     width: 300px;
     margin: 30px auto;
  }
  .items-img{
    width: 300px;
  }
}
