.form input{
    border: 2px solid #F5C34B;
    font-size: 18px;
}
.product-btn{
    background-color: #F5C34B;
    color: #fff;
    padding: 5px 0px;
}



/* const [{ name, img, description, price, quantity, supplier }] = myItems;
  return (
    <section>
      <div className="product-container">
        <div className="product-info mt-20">
          <div className="items-img">
            <img src={img} alt="" />
          </div>
          <div className="item-details font-mono mt-5">
            <h1 className="text-white pb-2 px-5 text-lg">
              <span className="text-xl">Name:</span> {name}
            </h1>
            <h2 className="text-white pb-2 px-5 text-lg">
              <span className="text-xl">Price:</span> {price}
            </h2>
            <h3 className="text-white pb-2 px-5 text-lg">
              <span className="text-xl">Quantity:</span> {quantity}
            </h3>
            <p className="text-white pb-2 px-5 text-lg">
              <span className="text-xl">Supplier:</span> {supplier}
            </p>
            <p className="text-white pb-2 text-sm text-justify px-5 mb-20">
              {description}
            </p>
          </div>
        </div>
      </div>
    </section> */